/* ############### START CSS CERCIPE-CONTENT Nils ############### */
h2 {
    margin: 80px 10% 0px 10%;
}

.recipe-header {
    display: flex;
    margin: 0px 10% 0px 10%;
}

.pointer {
    cursor: pointer;
}

.image-recipe {
    display: flex;
    align-items: center;
    min-width: 80% !important;
    height: 20vh;
    border-radius: 10px;
    object-fit: cover;
    margin: 0px 10% 0px 10%;
}


.info-box-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10% 0px 10%;
}

.info-box-sector {
    display: flex;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.836);
    border-radius: 5px;
    margin: 20px 10px 0px 0px;
    padding: 5px 20px 5px 20px;
}

.info-box-icon {
    height: 2vw;
    margin-right: 5px;
}

.basket-icon {
    height: 30px;
    margin-right: 5px;
}

.seperator-content {
    margin: 20px 10% 0px 10%;
}

.input-box-section {
    display: flex;
    justify-content: space-between;
    height: 2vw;
    margin-right: 5px;
    margin: 20px 10% 20px 10%;
    padding: 5px 5px 5px 5px;
}

.input-value {
    width: 50px;
    margin: 0px 0px 0px 10px;
}

.portion-button {
    width: 100px;
    margin: 0px 0px 0px 10px;
}

.reset-button {
    width: 100px;
    margin: 0px 0px 0px 10px;
}

.row-left-cell {
    display: flex;
    flex-direction: row;
    min-width: 20%;
}

.row-inner-cell {
    display: flex;
    width: 80%;
    justify-content: flex-start;
}

.row-right-cell {
    display: flex;
    align-items: flex-end;
    padding: 10px 0px 10px 0px;
}

.ingredients-row-index {
    display: flex;
    margin: 0px 10% 0px 10%;
    padding: 10px 0px 10px 0px;
}

.ingredients-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0px 10% 0px 10%;
    padding: 10px 20px 10px 20px;
}

   .bgr-gray {
    background-color: rgba(204, 204, 204, 0.836);
    border-radius: 5px;
}

.ingredient-amount {
    min-width: 30px;
    max-width: 50px;
    margin-right: 20px;
    font-weight: bold;

}

.ingredient-unit {
    min-width: 30px;
    margin-right: 60px;

}

.ingredient-description {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-left: 40px;
    
}

.checkbox-shoppinglist {
    display: flex;
    min-width: 30px;
    margin-left: 0px;
}

.cooking-instructions {
    margin: 20px 10% 20px 10%;
    word-wrap: break-word;
}

.cooking-instructions span {
    font-size: large;

}

.reset-shoppinglist {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10% 20px 10%;

}

.section-autor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin: 20px 10% 20px 10%;
}


.img-autor {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
    margin: 20px 10% 20px 10%;
}

.img-social{
    width: 50px;
    height: 50px;
    margin: 20px 10% 20px 10%;
}


@media (max-width:700px) {
    h1 {
        text-align: center;
    }


    h2 {
        margin: 80px 10% 0px 10%;
        text-align: center;
    }

    .recipe-header {
        justify-content: center;

    }

    .info-box-section {
        justify-content: space-evenly;
        padding: 5px 5px 5px 5px;
    }

    .info-box-sector {
        padding: 5px 10px 5px 10px;
        flex-direction: column;
        align-items: center;
    }

    .section-autor {
        align-items: center;
    }

}
/* ############### END CSS CERCIPE-CONTENT Nils ############### */