    <!--############### START SECTION HEADER ############### -->
    <header>
        <div class="header-logo">
            <img class="header-logo" src="img/logo.png" alt="this is our brand-logo">
        </div>
        <div class="header-navbar" hide-mobile>
            <a href="index.html">Start</a>
            <a href="#">Rezept des Tages</a>
            <a href="#">Kontakt</a>
            <a href="impressum.html">Impressum</a>
        </div>
    </header>
    <div class="seperator">
        <hr>
    </div>
    <!--############### END SECTION HEADER ############### -->
