<div class="content3">
    <div class="content3header">
        <h2>Pfanne vs. Wok - Was ist besser?</h2>
    </div>
    <div class="content3input">
        <p class="content3text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere assumenda perferendis
            sed hic
            reprehenderit numquam enim facilis voluptas id cum deleniti totam debitis voluptates, sequi cupiditate
            impedit molestias tempore eum!</p>
        <img src="img/wok.jpg" class="content3img">
    </div>
</div>