<div class="backgroundGrey content2Container paddingLeft200 paddingRight200 paddingTop30 paddingBottom50">
    <h2 class="textWrap">Lust auf was Neues?</h2>
    <div class="content2ReceipesTop marginTop30">
        <div class="content2Receipes">
            <a href="recipe-adrian.html"><img class="content2ReceipesIMG" src="img/burger-hotchili.jpg"></a>
            <span class="spanContent2 textWrap marginTop15"><b>Hot Chili Lover</b></span>
        </div>
        <div class="content2Receipes">
            <a href="recipe-mario.html"><img class="content2ReceipesIMG" src="img/lasagne.jpg"></a>
            <span class="spanContent2 textWrap marginTop15"><b>Mario</b></span>
        </div>
        <div class="content2Receipes">
            <a href="recipe-nils.html"><img class="content2ReceipesIMG" src="img/Depositphotos_199796612_l.png"></a>
            <span class="spanContent2 textWrap marginTop15"><b>Angus Burger</b></span>
        </div>
    </div>
</div>