    <!--############### START HOME-CONTENT-1 ############### -->
    <Div class="home-content-1">
        <div class="image-container">
            <img class="image-broad" src=" img/croissant.jpg" alt="img of frensch croissants">
        </div>
        <div class="short-info">
            <div class="short-description">
                <h2>French croissants</h2>
                <p>Leckere Croissants lassen sich auch ganz einfach zu Hause backen. Mit etwa 30 Minuten Anstrengung können Sie
                    ein wunderbares Frühstück zaubern.</p>
            </div>
            <div class="button">
                <a href="#">Rezept öffnen</a>
            </div>
        </div>
    </Div>
    <!--############### END HOME-CONTENT-1 ############### -->
